
<div id="cart">
  <div *ngIf="!!products && products.length > 0">
    {{'Cart:' | uppercase}}
    <div *ngFor="let cartItem of (products | orderBy : 'count' : true)">
      <cart-item
        [productCount]="cartItem.count"
        [product]="cartItem.product"
        (deleteOne)="onDeleteOne($event)"
        (deleteAll)="onDeleteAll($event)" #cartItems>
      </cart-item>
    </div>
    Total price: {{ totalPrice | currency: 'USD'}}
    Total Count: {{ totalCount }}
    <button (click)="onBuy()">Buy</button>
  </div>
</div>
