<div class="jumbotron">
  <ul font-directive="20px" class="list-group">
    <li class="list-group-item">Name: {{ product.name }}</li>
    <li class="list-group-item">Description: {{product.description}}</li>
    <li class="list-group-item">Price: {{product.price | currency: 'USD'}}</li>
    <li class="list-group-item">Guid: {{product.guid}}</li>
    <li class="list-group-item">Category: {{ product.category }}</li>
  </ul>
  <b class="display-6">Ingredients</b>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let ingr of product.ingredients">{{ingr.title}}</li>
  </ul>

  <b class="display-6">Equivalents</b>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let equivalent of product.equivalents">{{equivalent.title}}</li>
  </ul>
  <b class="display-6">Buy</b>
  <div class="row">
    <input type="number" value="1" class="form-control col" [(ngModel)]="count" min="1">
  <button (click)="onBuy.emit({product: product, count: count})" class="btn btn-primary col" [disabled]="!product.isAvailable">
    Add to Cart
  </button>
</div>
</div>
